In [76]:
import pandas as pd
import numpy as np

In [77]:
df  = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep = '\t')

In [78]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [79]:
df.shape[0]

4622

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [81]:
df.shape[1]

5

In [82]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [83]:
df.index

RangeIndex(start=0, stop=4622, step=1)

In [84]:
c = df.groupby('item_name')
grouped = c[['quantity']].sum()

In [85]:
final = grouped.sort_values(by = ['quantity'],ascending = False)

In [86]:
final.reset_index(inplace=True)

In [87]:
final.loc[0]

item_name    Chicken Bowl
quantity              761
Name: 0, dtype: object

In [88]:
cd = df.groupby('choice_description').agg({'quantity':'sum'})

In [89]:
cd = cd.sort_values(by = ['quantity'],ascending = False)

In [90]:
cd.reset_index(inplace=True)
cd.loc[0]

choice_description    [Diet Coke]
quantity                      159
Name: 0, dtype: object

In [91]:
total = df.groupby('item_name').agg({'quantity':'sum'})

In [92]:
total['quantity'].sum()

4972

In [93]:
df['item_price'].dtype

dtype('O')

In [94]:
df['item_price'] = df['item_price'].apply( lambda x: float(x[1:-1]))

In [95]:
df['item_price'].astype('float')

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [97]:
df['revenue'] = df['quantity'] * df ['item_price']

In [99]:
df['revenue'].sum()

39237.02

In [103]:
df.order_id.value_counts().count()

1834

In [108]:
df.groupby(['order_id']).agg({'revenue':'sum'}).mean()

revenue    21.394231
dtype: float64